:root {
  --first-title-color: #2e2f42;
  --second-title-color: #434455;
  --first-btm-color: #ffffff;
  --second-btm-color: #4d5ae5;
}

body {
  font-family: "Roboto", sans-serif;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* Heder-nav */
.header-logo {
  color: var(--first-title-color);
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
